VITE_AUTH_MODULE=https://mfe-1/assets/remoteEntry.js
VITE_QUARTERCOMPLETION_MODULE=https://mfe-2/assets/remoteEntry.js
VITE_DASHBOARD_BASIC_MODULE=https://mfe-3/assets/remoteEntry.js
VITE_CREW_BASIC_MODULE=https://mfe-4/assets/remoteEntry.js
VITE_KEYCLOAK_CLIENT_ID=clientID
VITE_KEYCLOAK_URL=https://keycloak.com
VITE_KEYCLOAK_REALM=realm
VITE_GATEWAY_URL=https://gateway.briggswalker.com
VITE_MICROFRONTEND_HOSTED_URL=https://mfe.briggswalker.com
VITE_SIGN_UP_ENABLED=true